.rotate90 {
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
}
.rotate180 {
    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
}
.rotate270 {
    transform:rotate(270deg);
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -ms-transform:rotate(270deg);
}
.scale50 {
    transform:scale(0.5, 0.5);
    -webkit-transform:scale(0.5, 0.5);
    -moz-transform:scale(0.5, 0.5);
    -ms-transform:scale(0.5, 0.5);
}
.scale25 {
    transform:scale(0.25, 0.25);
    -webkit-transform:scale(0.25, 0.25);
    -moz-transform:scale(0.25, 0.25);
    -ms-transform:scale(0.25, 0.25);
}
